.mx_RoomSubList_label {
    background-color: #d8d8d8;
}

.mx_MatrixToolbar {
    background-color: #99ff15;
    color: black;
    text-align: center;
}

.mx_RoomHeader_rightRow, .mx_RoomHeader{
    background-color: #8ccfff;
}

.mx_MessageComposer_input {
    color: black;
}

.mx_RoomDropTarget {
    border: 1px dashed black;
}

.mx_MatrixChat .mx_LeftPanel, .mx_BottomLeftMenu, .gm-scroll-view {
    background-color: #efefef;
}